/** [AIV_SHORT]  Build version: 23.4.0-release-8 - Thursday, September 21st, 2023, 12:13:02 PM  **/
/*!
 * McGriddle
 * @description
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/mcgriddle
 * @link https://github.com/jonsuh/mcgriddle
 */
 .input-material,.input .input__container {
    position: relative
}

.input-material__field {
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #d8d8d8;
    border-radius: 0;
    color: #232323;
    font-size: 15px;
    height: auto;
    line-height: 1.5;
    padding: 7px 15px 2px 0;
    position: relative;
    z-index: 1
}

.input-material__field[type=number] {
    padding: 7px 0 2px
}

.input-material__field::-webkit-input-placeholder {
    opacity: 0;
    transition: all .2s ease
}

.input-material__field::-moz-placeholder {
    opacity: 0;
    transition: all .2s ease
}

.input-material__field:-ms-input-placeholder {
    opacity: 0;
    transition: all .2s ease
}

.input-material__field:-moz-placeholder {
    opacity: 0;
    -moz-transition: all .2s ease
}

.input-material__field:focus::-webkit-input-placeholder {
    opacity: 1
}

.input-material__field:focus::-moz-placeholder {
    opacity: 1
}

.input-material__field:focus:-ms-input-placeholder {
    opacity: 1
}

.input-material__field:focus:-moz-placeholder {
    opacity: 1
}

.input-material__field:-webkit-autofill {
    box-shadow: inset 0 0 0 30px #fff;
    color: #232323
}

.input--filled .input-material__field~.input-material__label,.input--readOnly .input-material__field~.input-material__label,.input--valid .input-material__field~.input-material__label,.input-material__field:focus~.input-material__label {
    font-size: 11px;
    position: absolute;
    top: -9px;
    z-index: 1
}


.input--readOnly .input-material__field,.input--valid .input-material__field,.input-material__field:-webkit-autofill~.input-material__label {
    border-bottom-color: #5c9a03
}

.input-material__field--amount {
    padding-right: 10px;
    text-align: right;
    width: 50px
}

.input-material__label {
    color: #989898;
    font-size: 13px;
    font-weight: 400;
    left: 0;
    position: absolute;
    top: 5px;
    transition: .2s ease;
    white-space: nowrap;
    z-index: 0
}


.input-material__search {
    background: #f2f2f2;
    color: #232323;
    cursor: pointer;
    font-size: 12px;
    left: 0;
    position: absolute;
    right: 0;
    top: 32px;
    z-index: 2
}

.input-material__search-item {
    padding: 5px
}

.input-material__search-item:hover {
    background-color: #d8d8d8
}

.input-material__icon {
    color: #d8d8d8;
    font-size: 16px;
    line-height: 32px;
    position: absolute;
    right: 0;
    top: 0
}

input[type=number]:disabled:hover {
    border: none
}

/*!
 * McGriddle
 * @description
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/mcgriddle
 * @link https://github.com/jonsuh/mcgriddle
 */
.c-title-label {
    font-size: 14px
}

.radio__input {
    display: none
}

.radio {
    display: inline-block;
    margin-bottom: 20px;
    position: relative
}

.radio__label {
    color: #232323;
    cursor: pointer;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 0;
    margin-right: 20px;
    padding-left: 30px
}

.radio__label:before {
    border: 1px solid #d8d8d8;
    border-radius: 50%;
    content: "";
    cursor: pointer;
    height: 20px;
    left: 0;
    position: absolute;
    top: 1px;
    width: 20px
}

.radio__label--medium .radio__label:before {
    height: 24px;
    width: 24px
}

.radio__label:after {
    border: 3px solid #fff;
    border-radius: 50%;
    content: "";
    cursor: pointer;
    height: 18px;
    left: 1px;
    position: absolute;
    top: 2px;
    -webkit-transition: background-color .3s ease;
    -moz-transition: background-color .3s ease;
    -ms-transition: background-color .3s ease;
    -o-transition: background-color .3s ease;
    width: 18px
}

.radio__label.radio__label--medium:before {
    height: 24px;
    width: 24px
}

.radio__label.radio__label--medium:after {
    height: 22px;
    width: 22px
}

.radio__label:hover:after {
    background: #d8d8d8
}

.radio__input:checked~.radio__label:before,.radio__input:checked~.radio__label:hover:after {
    background: #c21212
}

.radio-input__field {
    position: relative
}


@-webkit-keyframes button-load {
    0% {
        width: 0
    }

    30% {
        width: 95%
    }

    to {
        width: 100%
    }
}

@keyframes button-load {
    0% {
        width: 0
    }

    30% {
        width: 95%
    }

    to {
        width: 100%
    }
}

/*!
 * McGriddle
 * @description
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/mcgriddle
 * @link https://github.com/jonsuh/mcgriddle
 */
.select::-ms-expand {
    display: none
}

.select {
    position: relative
}

.select__field {
    -webkit-appearance: none;
    appearance: none;
    background: #fff url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSI0MCI+PHBhdGggZmlsbD0iIzQ0NCIgZD0ibTUgMTguNiA1LjItNy4xIDQuOCA3LjFINXptMTAgMi44LTQuOCA3LjFMNSAyMS40aDEweiIvPjwvc3ZnPg==) no-repeat 100%;
    background-size: 15px;
    border: 0;
    border-bottom: 1px solid #d8d8d8;
    border-radius: 0;
    box-shadow: none;
    color: #232323;
    font-size: 15px;
    font-weight: 400;
    height: 32px;
    outline: 0;
    padding: 2px 20px 0 0;
    transition: border-color 375ms ease;
    width: 100%
}

.select__field:hover {
    border-color: #adadad
}

.input--valid .select__field:hover {
    border-color: #5c9a03
}

.select__field:focus {
    border-color: #989898;
    box-shadow: none;
    outline: none
}


.select--valid .select__field {
    border-bottom-color: #5c9a03
}

.select__field:disabled {
    background-color: #f2f2f2;
    cursor: not-allowed
}

.select__field:disabled:hover {
    border: 1px solid #d8d8d8
}

.select__field:invalid {
    color: #989898;
    font-size: 13px;
    padding: 2px 20px 2px 0
}

.select__field option {
    color: #232323;
    font-size: 15px
}

.select__field--birthdate:disabled {
    background-color: inherit
}

.select__field--birthdate:disabled:hover {
    border: none;
    border-bottom: 1px solid #d8d8d8
}
